body{
    background-color: rgb(233, 233, 217);
    color: maroon;

    font-family: Arial, Helvetica, sans-serif;
}
h1{
    font-size: xx-large;

}
header {
    color: maroon;
    background: #f4f4f4;
    padding: 1rem;
    font-weight: bold;
    text-align: center;
}
table {
    width: 30%;
    margin-left: 38%;
    margin-right: 40%;
}
thead{

    text-align: left;
}
tbody{
    text-align: left;
}
.table {
    text-align: center;
}
header small{
    font-style: italic;
    font-family: cursive;
    margin-top: -10px;
}
.selector{
    display: flex;
    justify-content: right;

}
.logo-container {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    text-align: center;
    margin-top: -30px;

}

.logo-container img {
    margin-right: 10px;
}

form {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;

}
aside{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    margin-top: 20px;
}
footer{
    /* position: absolute; */
    bottom: 0;
    text-align: center;
    margin-top: 20px;
    font-size: small;
    font-style: italic;
    
}

a {
    text-decoration: none;
    color: #333;
}
a h1{
    color: maroon;
}